@{
    ViewData["Title"] = "Success";
}

<h1>Успех!</h1>
<div>
    <form method="post">
        <button type="submit" formaction="@Url.Action("Index", "AddRecord")" class="btn btn-primary">Добавить ещё</button>
    </form>
</div>
